.change-name-form {
  padding: 20px 15px;
  > h4 {
    color: $primary;
    font-size: 22px;
  }
  > form {
    text-align: center;
    .accions {
      display: flex;
      flex-direction: row-reverse;

      .submit {
        padding: 12px 60px;
      }
      .primary {
        padding: 12px 60px;
      }
    }
  }
}
